@model IEnumerable<Client.MetaData.OrderItemViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Index" asp-controller="Products">Add Products To Cart</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Price)
            </th>
            <th>
                Total
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Price)
                </td>
                <td>
                    @(item.Product.Price * item.Quantity)
                </td>

                <td>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <form method="post" asp-controller="Cart" asp-action="RemoveFromCart">
                                    <input type="hidden" name="orderItemId" value="@item.Id" />
                                    <button type="submit" class="btn btn-danger">Remove</button>
                                </form>
                            </div>
                            <div class="col">
                                <form method="post" asp-action="GeneratePurchaseOrder">
                                    <button type="submit" class="btn btn-success">Checkout</button>
                                    <input type="hidden" name="OrderItemId" value="@item.Id" />
                                    <input type="hidden" name="OrderId" value="@item.Order.Id" />
                                </form>
                            </div>

                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

